<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko" style="box-sizing: border-box;">
<head style="box-sizing: border-box;">
  <meta charset="UTF-8" style="box-sizing: border-box;">
  <title style="box-sizing: border-box;">Secretfriends Verification</title>
  <link href="https://fonts.googleapis.com/css?family=Inter&amp;display=swap" rel="stylesheet" style="box-sizing: border-box;">

</head>
<body>
<div class="background" style="width:700px; height:525px; background:rgba(254,96,75,1); display:flex; flex-direction: column;">
  <div style="width: 700px; display: flex; justify-content: center; margin-top: 10px;">
    <img src='cid:logo'>
  </div>
  <div style="width: 700px;">
    <div class="main" style="display: flex; flex-direction: column; margin-left: 50px; margin-right: 50px; margin-top:10px; background:#FFFFFF; position:relative; border:3px solid rgba(255,179,169,1);">
      <div style="display: flex; justify-content: center; width: 600px; padding-top: 40px; padding-bottom: 30px;">
        <img src='cid:title' style=" width:278px; justify-content: center;">
      </div>
      <div style="display: flex; justify-content: center; width: 600px;">
        <img src='cid:text' style="width:289px;">
      </div>
      <div style="display: flex; justify-content: center; width: 600px; padding-top: 30px; padding-bottom: 10px;">
        <div class="codeBody" style="display: flex; justify-content: center; width:500px; height:100px; background: rgba(255,179,169,0.3); border-radius:30px; ">
          <p class="code" style="margin-top:35px; margin-bottom:35px; text-align:center; width:400px; font-size:20px; font-weight:bold;" th:text="${code}"></p>
        </div>
      </div>
      <div style="display: flex; justify-content: center; width: 600px; padding-bottom: 40px;">
        <p class="expirationTime" style=" text-align:center; font-size:11px; font-weight:bold;" th:text="${expirationTime}"></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>